# Application
APP_HOST=26.234.56.246
APP_PORT=8000
DEBUG=true

# Database
DATABASE_URL=postgresql://postgres.eocdhgamzeyaoobmqrnh:admin@aws-1-eu-west-1.pooler.supabase.com:6543/postgres

# Auth / Security
SECRET_KEY=Sy26*fgb%!GG215353Gifv@#g351Gbdsfew4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1