# Application
APP_HOST=26.234.56.246
APP_PORT=8000
DEBUG=true

# Database
DATABASE_URL=sqlite:///restaurant.db

# Auth / Security
SECRET_KEY=Sy26*fgb%!GG215353Gifv@#g351Gbdsfew4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1